:root {
  --color-bg: #f8f9fa;
  --color-text: #67748e;
  --color-white: #ffffff;
  --color-primary: #17c1e8;
  --color-primary-focus: #0bbfec;
  --color-secondary: #8392ab;
  --color-dark: #344767;
  --color-light: #e9ecef;
}
